
 <footer class="d-block bg-dark pt-5 pb-5 mt-4">
    <div class="row d-flex align-items-start justify-content-sm-end flex-wrap">
        <div class="col-sm-3">
            <div class="list-group-dark text-secondary">
                <a href="#" class="list-group-item list-group-item-action disabled fs-3 fw-bold"  aria-current="true">
                    Home
                </a>
                <a href="#" class="list-group-item list-group-item-action">www.collagelib.com</a>
                <a href="#" class="list-group-item list-group-item-action">Library</a>
                <a href="#" class="list-group-item list-group-item-action">Login</a>
                <a href="#" class="list-group-item list-group-item-action ">Register</a>
                <a href="#" class="list-group-item list-group-item-action ">Recently added books</a>
                <a href="#" class="list-group-item list-group-item-action text-danger ">Login as admin</a>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="list-group-dark text-secondary">
                <a href="#" class="list-group-item list-group-item-action disabled fs-3 fw-bold" aria-current="true">
                    Contact
                </a>
                <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-envelope"></i> -business@gmail.com</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-phone"></i> +915624199734</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="fa-brands fa-facebook-f"></i>- Facebook</a>
                <a href="#" class="list-group-item list-group-item-action "><i class="fa-brands fa-instagram"></i> -Instagram</a>
                <a href="#" class="list-group-item list-group-item-action "><i class="fa-brands fa-twitter"></i> -Twitter</a>
                <a href="#" class="list-group-item list-group-item-action "><i class="fa-brands fa-linkedin"></i> -LinkenIn</a>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="list-group-dark text-secondary">
                <a href="#" class="list-group-item list-group-item-action disabled fs-3 fw-bold">
                    Books
                </a>
                <a href="#" class="list-group-item list-group-item-action">Romantic</a>
                <a href="#" class="list-group-item list-group-item-action">Science fiction</a>
                <a href="#" class="list-group-item list-group-item-action">Social</a>
                <a href="#" class="list-group-item list-group-item-action ">Literature</a>
                <a href="#" class="list-group-item list-group-item-action ">Autobiography</a>
                <a href="#" class="list-group-item list-group-item-action ">History</a>
                <a href="#" class="list-group-item list-group-item-action ">Other</a>
            </div>

        </div>

    </div>
</footer>
<script src="/js/all.js"></script>   
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>