<!-- including header -->
<%- include ('./partials/header.ejs') %>
    <!-- here we can put our other link element -->

    <!-- including navbar -->
    <%- include('./partials/navbar.ejs') %>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-height: 70vh;" data-bs-interval="10000">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color:pink ;">"I have always imagined that Paradise will be a kind of a Library."
                        </h2>
                        <p style="color:red ;">Jorge Luis Borges</p>
                    </div>
                    <img src="/image/lib1.jpg" class="d-block h-20 w-100" alt="library">
                </div>
                <div class="carousel-item" style="max-height: 70vh;" data-bs-interval="10000">
                    <img src="/image/lib2.jpg" class="d-block h-20 w-100" alt="library">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color:orange ;">"Bad libraries build collections, good libraries build services,
                            great libraries build communities."</h2>
                        <p style="color:chocolate ;">R. David Lankes</p>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 70vh;" data-bs-interval="10000">
                    <img src="/image/lib3.jpg" class="d-block h-20 w-100" alt="library">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color:wheat ;">"Libraries always remind me that there are good things in this world."
                        </h2>
                        <p style="color:pink ;">Lauren Ward</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h3 style="text-align:center;" class="m-5">Checkout our books</h3>
        <!--  -->

        <div class="container-md">
            <div class="row">
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/WLUHO9A_xik/1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">History</h5>
                            <p class="card-text">History were repeating, ready to write it again.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/U3C79SeHa7k/1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Autobiography</h5>
                            <p class="card-text">Lookout into other life, pick some good things.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/AsahNlC0VhQ//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Romantic</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/Ybf3zcuZg90//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Novel</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/5DIFvVwe6wk//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Story</h5>
                            <p class="card-text">Lets go to bed, lets go to imaginary world.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/wxj729MaPRY//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Science fiction</h5>
                            <p class="card-text">No science, no fiction its reality.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/GzDrm7SYQ0g//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mathmatics</h5>
                            <p class="card-text">Numbers are emotion.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/5fNmWej4tAA//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Business</h5>
                            <p class="card-text">Less time left, go get it.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/-pbF3ZmpD0s//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Biology</h5>
                            <p class="card-text">Life is not so easy as we think.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-2">
                    <div class="card">
                        <img src="https://source.unsplash.com/dvK_CT1Wg78//1600x900" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Poetry</h5>
                            <p class="card-text">Go deep an deep, untill you feel the ryhems.</p>
                            <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>

       



        <!-- here we can put script link -->


        <!-- including footer -->
        <%- include ('./partials/footer.ejs') %>