<!-- including header -->
<%- include ('./partials/header.ejs') %>
    <!-- here we can put our other link element -->

    <!-- including navbar -->
    <%- include('./partials/navbar.ejs') %>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-height: 70vh;" data-bs-interval="10000">
                    <img src="/image/lib1.jpg" class="d-block h-20 w-100" alt="library">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color:pink ;">"I have always imagined that Paradise will be a kind of a Library."
                        </h2>
                        <p style="color:red ;">Jorge Luis Borges</p>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 70vh;" data-bs-interval="10000">
                    <img src="/image/lib2.jpg" class="d-block h-20 w-100" alt="library">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color:orange ;">"Bad libraries build collections, good libraries build services,
                            great libraries build communities."</h2>
                        <p style="color:chocolate ;">R. David Lankes</p>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 70vh;" data-bs-interval="10000">
                    <img src="/image/lib3.jpg" class="d-block h-20 w-100" alt="library">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color:wheat ;">"Libraries always remind me that there are good things in this world."
                        </h2>
                        <p style="color:pink ;">Lauren Ward</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h3 style="text-align:center;" class="m-5">Checkout our books</h3>
        <!--  -->

        <div class="container">
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Science fiction</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Autobiography</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Romantic</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Mathmatics</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Novel</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Blogs</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">History</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Thriler</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title" style="color:wheat ;">Story</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- here we can put script link -->


        <!-- including footer -->
        <%- include ('./partials/footer.ejs') %>