<!-- including header -->
<%- include ('./partials/header.ejs') %>
    <!-- here we can put our other link element -->

    <!-- including navbar -->
    <%- include('./partials/navbar.ejs') %>


    <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">book name</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>










        <!-- here we can put script link -->


        <!-- including footer -->
        <%- include ('./partials/footer.ejs') %>